In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

In [8]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import sqlite3
import psycopg2

In [9]:
conn = sqlite3.connect("sqlite:///../FPA_FOD_20170508.sqlite")

OperationalError: unable to open database file

In [ ]:
c = conn.cursor()
sqlSTMT = f'select FIRE_NAME,FIRE_YEAR,date(DISCOVERY_DATE),DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_CODE,STAT_CAUSE_DESCR,date(CONT_DATE),CONT_DOY,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME from Fires WHERE STATE="CA";'
newdf = []
for x in c.execute(sqlSTMT):
    newdf.append(x)

In [ ]:
df_fire= pd.DataFrame(newdf)
df_fire_sort = df_fire.sort_values(by=1,ascending=True)

In [ ]:
df_fire_sort.head()

In [ ]:
# Extract desired columns from the California only fire data frame in the order desired
# new_df_fire = df_fire[[0, 2, 3, 5, 6, 8, 10, 16]]
new_df_fire = df_fire[[2, 0, 3, 8, 5, 6, 10, 16]]
                           
new_df_fire.head()

In [ ]:
# rename columns
new_df_fire = new_df_fire.rename(
    columns={2: "Fire Date",
             0: "Fire Name", 
             3: "Discovery DOY in Julian", 
             8: "Containment DOY in Julian",
             5: "Cause Code",
             6: "Cause Description",
             10: "Fire Size in Acres",
             16: "State"})
new_df_fire.head()

In [ ]:
# Sort by ascending date
new_df_fire = new_df_fire.sort_values(by='Fire Date', ascending=True)
new_df_fire.head()

In [ ]:
#Change Date stamp to YYYYMM
new_df_fire['dt'] = [''.join(x.split('-')[0:2]) for x in new_df_fire['Fire Date']]
new_df_fire.head()

In [ ]:
# Step 1 in removing dates past September 2013 (to line up with the temperature data)
# Convert the date column "dt" from a string to int64

new_df_fire['dt'] = new_df_fire['dt'].values.astype(np.int64)

In [ ]:
# Remove data past the last month of temperature date 201309
# Get indexes for which column dt has values greater than 201309
indexDates = new_df_fire[ new_df_fire['dt'] > 201309].index
# Delete these row indexes from dataFrame
new_df_fire.drop(indexDates , inplace=True)

new_df_fire.tail()

In [ ]:
# re order columns
new_df_fire = new_df_fire[[
             "dt", 
             "Fire Date",
             "Fire Name", 
             "Discovery DOY in Julian",  
             "Containment DOY in Julian",
             "Cause Code",
             "Cause Description",
             "Fire Size in Acres",
             "State"]]
new_df_fire.head()

In [ ]:
# Connect to database (Note: The package psychopg2 is required for Postgres to work with SQLAlchemy)
engine = sqlalchemy.create_engine("postgresql://postgres:postgres@localhost/California_fires")
conn = engine.connect()

In [ ]:
table_name = 'fires'
new_df_fire.to_sql(table_name, conn, index=False, if_exists='replace')

In [ ]:
print(engine.table_names())

In [ ]:
df_weather=pd.read_csv("GlobalLandTemperaturesByState.csv")
df_weather.head()

In [ ]:
df_weather = df_weather.rename(columns={"dt":"Date"})

In [ ]:
# Filter down to California
df_weather_cali=df_weather.loc[df_weather["State"] == "California",:]
df_weather_cali.head()

In [ ]:
# Filter Date greater than 1991
df_weather_cali=df_weather_cali.loc[df_weather_cali["Date"] > "1991-12-01", :]
df_weather_cali.head()

In [ ]:
df_weather_cali = df_weather_cali.replace({"California": "CA"})

In [ ]:
#Change Date stamp to YYYYMM
df_weather_cali['dt'] = [''.join(x.split('-')[0:2]) for x in df_weather_cali['Date']]
df_weather_cali.head(15)

In [ ]:
df_weather_cali = df_weather_cali[[
             "dt", 
             "Date",
             "AverageTemperature", 
             "AverageTemperatureUncertainty", 
             "State", 
             "Country"]]
df_weather_cali.head()

In [ ]:
df_weather_cali = df_weather_cali.rename(
    columns={"AverageTemperature": "AverageTemperature in Celsius"})

In [ ]:
# Convert the date column "dt" from a string to int64
df_weather_cali['dt'] = df_weather_cali['dt'].values.astype(np.int64)

In [ ]:
table_name = 'weather'
df_weather_cali.to_sql(table_name, conn, index=False, if_exists='replace')

In [ ]:
print(engine.table_names())

In [ ]:
engine.execute('ALTER TABLE fires ALTER COLUMN "Fire Date" TYPE Date USING "Fire Date"::date')
engine.execute('ALTER TABLE weather ALTER COLUMN "Date" TYPE Date USING "Date"::date')